/* Set default font and color */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
}

/* Dark mode */
body.dark {
  background-color: #1f1f1f;
  color: #dcdcdc;
}

/* Add animations */
.LoanForm {
  border: 2px solid black;
  transition: border-color 0.3s ease-in-out;
}
.LoanForm:hover {
  border-color: #dcdcdc;
}

/* Custom fonts */
h1, h2, h3 {
  font-family: 'Pacifico', cursive;
}
p {
  font-family: 'Open Sans', sans-serif;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .LoanForm {
    width: 80%;
    margin: 0 auto;
  }
  .input {
    width: 100%;
  }
}

/* Loan form styling */
.LoanForm {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
}

.input {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
}

.input input {
  width: 100%;
  font-size: 20px;
}

/* Buttons */
.button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #dcdcdc;
  color: #333;
}
